body {
    /*  specify font family in body */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}


.heading-primary {
    color:$color-white;
    text-transform: uppercase;

    /* will hide any side effects from animations like jumping up or down */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        /* initialize animation in element */
        /* You put the name of the animation you created */
        animation-name: moveInLeft;
        /* duration */
        animation-duration: 1s;
        /* delay until animation starts */
        /* animation-delay: 3s; */
    
        /* how many times the animation will happen */
        /* animation-iteration-count: 3; */
    
        /* how will the animation happen, slow, fast, or something else. It can also accelerate with time or slow down. */
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
}