/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* !!!!!!!!!!!!!!!!!!!!!!
    Always convert px to REM, that is making design easier to work with.
    1 rem = 10px
    Default font size is 16px
    Always set it in the html tag
    It makes responsive web design very easy, because when you change the font size
    in the html tag you will change the size of everything because
    it is relative!!!!!
    Always set it as percentage, not hardcoded value!!!!
    divide 10/16 = 62.5% and use that!!!!!!
    !!!!!!!!!!!!!!!!!!!!!!!!!
*/

/* ******************  MAIN STYLES ********************* */
*,
*::after,
*::before {
    /* remove padding and margin */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* set root font size here */
    font-size: 62.5%;
}

body {
    /*  specify font family in body */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

/* ****************** END OF MAIN STYLES ********************* */


/* ********************************** */
/**************** HEADER **************/

.header {
    position: relative;
    height: 95vh;
    /* below code will make 2 colors, starting from one and going to the next */
    /* opacity is the fourth parameter in the colors, making the image blurred */
    background-image:linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)) , url("../img/hero.jpg");
    /* cover the whole element */
    background-size: cover;
    /* will not allow the image to be cropped at the top when making the screen smaller */
    background-position: top;
    /* make any element or image clipped on any side. Will make it cut where you need */
    /* 4 corners of the element, each having x and y. You specify each one like below */
    /* Left side is the reference so x is 0. You can touch y */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
}

.header__logo-box {
    /* below position, top and bottom will put it in the top left corner with padding */
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* will hide any side effects from animations like jumping up or down */
    backface-visibility: hidden;
    margin-bottom: 6rem;
    
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* initialize animation in element */
    /* You put the name of the animation you created */
    animation-name: moveInLeft;
    /* duration */
    animation-duration: 1s;
    /* delay until animation starts */
    /* animation-delay: 3s; */

    /* how many times the animation will happen */
    /* animation-iteration-count: 3; */

    /* how will the animation happen, slow, fast, or something else. It can also accelerate with time or slow down. */
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}



/****************  **************/
/****************END OF HEADER **************/








